.btn {
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 0.2em;
    background-color: $main-fg;
    color: $main-bg;
    padding: 1vh 0.5vw;
    text-align: center;

    text-decoration: none;
    cursor: pointer;
    position: relative;

    &:hover {
        text-decoration: underline;
    }
}
