#navigator {
    width: 100%;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .btn {
        padding: 1vh 0.8vw;
        font-size: 0.8em;
    }
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $highlight-fg;
    color: $main-fg;
    padding: min(15px, 3vw, 3vh);
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;

    & > .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: #555;
    }
}
