@use "./reset.scss";
@import "./variables";
@import "./breakpoints";
@import "./images";
@import "./typography";

@import "./navigator";
@import "./accessibility";
@import "./tiles";
@import "./cards";
@import "./buttons";
@import "./tooltip";

@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap");

* {
    font-family: "Baloo Paaji 2", cursive;
}

body {
    background-color: $main-bg;
    color: $main-fg;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: calc($scrollbar-width / 2);
    background-color: $scrollbar-track-color;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
    background-color: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
    border-radius: calc($scrollbar-width / 2);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $scrollbar-thumb-color;
}

.header {
    height: $header-height;
    @include text-stroke(black, -1px);

    @mixin header-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;
        display: flex;
        justify-content: space-around;
    }

    .flex-grow-dummy {
        flex-grow: 3;
    }

    .header-text-container {
        @include header-cover();
        flex-direction: column;

        @include media("<=tablet") {
            justify-content: flex-start;
        }
    }

    .header-text {
        align-self: flex-start;
    }

    .header-title {
        padding: 2.5vw;
        font-size: 150px;
        color: $highlight-fg;

        // Only change color when overlapping the image
        // @include media(">1025px", "<1375px") {
        //     color: $highlight-fg;
        // }

        @include media("<desktop") {
            font-size: 60px;
        }

        @include media("<=phone") {
            font-size: 38px;
        }
        line-height: 80%;
    }

    .header-subtitle {
        padding: 2.5vw;
        font-size: 30px;
        @include media("<desktop") {
            font-size: 25px;
        }

        @include media("<=phone") {
            font-size: 20px;
        }
    }

    img {
        object-fit: cover;
    }

    .header-img-container {
        @include header-cover();
        flex-direction: row;
    }

    .header-img {
        max-height: $header-height;
        width: 100%;
    }

    .header-headshot-container {
        @include header-cover();
        flex-direction: row;
    }

    .header-headshot {
        display: block;
        margin-right: 2vw;
        margin-bottom: 2vh;

        align-self: center;

        height: calc($header-height * 2 / 3);
        width: calc($header-height * 2 / 3);

        @include media("<desktop") {
            height: calc($header-height * 1 / 2);
            width: calc($header-height * 1 / 2);

            align-self: flex-end;
        }

        @include media("<tablet") {
            height: calc($header-height * 2 / 5);
            width: calc($header-height * 2 / 5);

            align-self: flex-end;
        }

        @include imageMask(#4d4b47, 8px);
        background-position: top center;
    }
}

.navbar {
    /* make it stick */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* in front of all other elements */
    z-index: 2;
    /* set background */
    background-color: white;
    padding: 10px 5%;

    /* define flex */
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("<=tablet") {
        flex-direction: column;
    }
}

.logo-container {
    @include media("<=tablet") {
        width: 100%;
    }
}

.logo-image {
    display: block;
    height: $navbar-height;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;

    @include media("<=tablet") {
        display: none;
        width: 100%;

        &.active {
            display: block;
        }
    }
}

.menu-item {
    display: inline-block;
    margin-left: 1.5vw;
    font-size: 1.6em;
    cursor: pointer;

    &:not(:last-child) {
        &:after {
            color: darken($color: $highlight-fg, $amount: 10%);
            content: "|";
            margin-left: 1.5vw;
        }
    }

    @include media("<=tablet") {
        display: block;
        width: 100%;
        padding: 5px 0;
        text-align: end;

        &:after {
            color: darken($color: $highlight-fg, $amount: 10%);
            content: "|";
            margin-left: 1.5vw;
        }
    }

    &:hover,
    &:focus,
    &:focus-within {
        text-decoration: underline;
    }

    a {
        color: $main-bg;
    }

    &.active > a {
        color: $highlight-fg;
    }
}

.menu-icon {
    display: none;

    @include media("<=tablet") {
        display: block;
        position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        top: 20px;
        right: 5%;
    }

    .bar {
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 4px auto;
    }
}

#maintenanceBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    position: fixed;
    top: 40px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    padding: min(15px, 3vw, 3vh);
    border-radius: 10px;
    font-size: 18px;

    background-color: #9c9220;
    color: #ff5454;
    cursor: pointer;

    .alert-text {
        &.shown {
            display: block;
        }
        display: none;
    }

    & > .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: #555;
    }
}

#main {
    margin: 1vh;
    margin-top: 6vh;
    min-height: 100 - $header-height;
}

footer {
    margin-top: 1vh;
    padding: 1vw;
    width: 100%;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: $main-bg;
    background-color: $main-fg;

    .footer-section {
        &:not(:last-child) {
            margin-bottom: 1vh;
        }

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        // & > P {
        //     margin-bottom: 0;
        // }
    }
}

a {
    &:hover {
        text-decoration: underline;
    }
}

hr {
    margin-top: 1vh;
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: $main-fg;
    border-width: 1px 0 0 0;
    border-radius: 20px;

    &:before {
        /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: $main-fg;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }
}

section {
    width: 100%;
}

.f-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;

    @include media("<tablet") {
        flex-direction: column;
        gap: 10px;
    }
}

.container {
    width: 90%;
    margin: 4vh 6vw 6vh;

    @include media("<tablet") {
        margin: 2vh 4vw 3vh;
    }
}

.content {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 5vw;
        font-weight: 200;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        font-size: 3vw;
        font-weight: 100;
    }
}
